{
  "overrides": [
    {
      "files": [
        "paps-shipping-for-woocommerce.php",
        "iq.php",
        "includes/**/*.php"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
